body {
    background: #365c62;
}

#color-picker-container {
    width: 250px;
    aspect-ratio: 1 / 1;
    position: relative;
}

#color-wheel {
    width: 100%;
    aspect-ratio: 1 / 1;
    touch-action: none;
}

#cursor {
    width: 7px;
    aspect-ratio: 1 / 1;
    border: 1px solid white;
    outline: 1px solid black;
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    animation-duration: 4s;
}